In [16]:
# Installing Selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\inspiron\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\inspiron\anaconda3\lib\site-packages (from selenium) (1.25.8)

In [17]:
#imorting all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [18]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [19]:
# specifying the url of the webpage to be scraped
url ="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace."

In [20]:
# Lets open the web page through the web driver
driver.get(url)

In [21]:
# creating 4 empty lists to stored scraped data
Prod_rating=[]
review_summary=[]
full_review=[]

In [22]:
import time

In [33]:
for i in range(0,10):
    try:
        Prod_rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in Prod_rating_tags:
            Prod_rating.append(i.text)
    except NoSuchElementException:
        Prod_rating.append("Null")        
    
    try:
        review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for j in review_tags:
            review_summary.append(i.text)
    except NoSuchElementException:
        review_summary.append("Null") 
    try:
        full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")   
        for k in full_review_tags:
            full_review.append(i.text)
    except NoSuchElementException:
        review_summary.append("Null")       
    driver.find_element_by_xpath("//nav[@class='yFHi8N']").click()
    time.sleep(3)

In [34]:
# Checking length
print(len(Prod_rating),len(review_summary),len(full_review))

210 210 210

In [35]:
Prod_Rating=Prod_rating[0:100]
Review_Rummary=review_summary[0:100]
Full_Review=full_review[0:100]

In [36]:
import pandas as pd
Product=pd.DataFrame({})
Product['Rating']=Prod_Rating
Product['Review']=Review_Rummary
Product['Full Review']=Full_Review

In [37]:
Product

,Rating,Review,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,,,
4,,,
...,...,...,...
95,5,Excellent,"Most powerful phone you can buy in 2019, Best ..."
96,5,Worth every penny,"Just go for it without a second thought, if yo..."
97,5,Worth every penny,no complaint against the display it's very cri...
98,5,Simply awesome,Really satisfied with the Product I received.....
99,5,Mind-blowing purchase,This is phone is super duper sexy.\nYou will g...

In [40]:
import numpy as np
Product.replace(r'^\s*$',np.nan,regex=True)

,Rating,Review,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,NaN,NaN,NaN
4,NaN,NaN,NaN
...,...,...,...
95,5,Excellent,"Most powerful phone you can buy in 2019, Best ..."
96,5,Worth every penny,"Just go for it without a second thought, if yo..."
97,5,Worth every penny,no complaint against the display it's very cri...
98,5,Simply awesome,Really satisfied with the Product I received.....
99,5,Mind-blowing purchase,This is phone is super duper sexy.\nYou will g...