In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Que--1

In [2]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [5]:
# Opening the homepage 
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')

In [6]:
try:
    page_url = driver.find_elements_by_xpath('//a[@class="external text"]')
    for xpath in page_url:
        driver.get(xpath.get_attribute('href'))
except StaleElementReferenceException as e:             # Handling StaleElement Exception   
        print("Stale Exception")

Stale Exception

In [7]:
search_button = driver.find_element_by_xpath('//span[@class="oo-ui-labelElement-label"]')   # Locating search_button by xpath
search_button.click()

In [8]:
try:
    element = driver.find_elements_by_xpath('//div[@class="mw-search-result-heading"]/a')
    for xpath in element:
        driver.get(xpath.get_attribute('href'))
except StaleElementReferenceException as e:             # Handling StaleElement Exception   
        print("Stale Exception")

Stale Exception

In [80]:
# creating empty list
rank=[]
Name=[]
artist=[]
Upload_Date=[]
views=[]

In [82]:
 # Extracting rank data
for b in range(1,31):
    r_tags1=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[%d]/td[1]'%(b))
    for i in r_tags1:
        rank.append(i.text)

In [83]:
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [99]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [100]:
 # Extracting Name1
Name1=[]
for b in range(1,31):
    try:
        Name_tags=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[%d]/td[2]/a'%(b))
        for i in Name_tags:
            Name1.append(i.text)
    except NoSuchElementException:
        Name1.append("Null")

In [101]:
Name1

['Baby Shark Dance',
 'Despacito',
 'Shape of You',
 'See You Again',
 'Johny Johny Yes Papa',
 'Uptown Funk',
 'Gangnam Style',
 'Sorry',
 'Sugar',
 'Roar',
 'Counting Stars',
 'Thinking Out Loud',
 'Dame Tu Cosita',
 'Shake It Off',
 'Faded',
 'Lean On',
 'Bailando',
 'Dark Horse',
 'Girls Like You',
 'Let Her Go',
 'Mi Gente',
 'Hello',
 'Waka Waka (This Time for Africa)',
 'Perfect',
 'Blank Space',
 'Chantaje']

In [115]:
 # Extracting artist data
for b in range(1,31):
    artist_tags=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[%d]/td[3]'%(b))
    for i in artist_tags:
        artist.append(i.text)

In [116]:
artist

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi featuring Daddy Yankee',
 'Ed Sheeran',
 'Wiz Khalifa featuring Charlie Puth',
 'LooLoo Kids',
 'Get Movies',
 'Mark Ronson featuring Bruno Mars',
 'Psy',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Justin Bieber',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'El Chombo featuring Cutty Ranks',
 'Taylor Swift',
 'Alan Walker',
 'Major Lazer and DJ Snake featuring MØ',
 'Enrique Iglesias featuring Descemer Bueno and Gente De Zona',
 'Katy Perry featuring Juicy J',
 'Maroon 5 featuring Cardi B',
 'Passenger',
 'J Balvin and Willy William',
 'Adele',
 'Shakira featuring Freshlyground',
 'Ed Sheeran',
 'Taylor Swift',
 'Shakira featuring Maluma']

In [111]:
 # Extracting views data
for b in range(1,31):
    views_tags=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[%d]/td[4]'%(b))
    for i in views_tags:
        views.append(i.text)

In [104]:
 # Extracting Uplaod date
for b in range(1,31):
    d_tags=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[%d]/td[5]'%(b))
    for i in d_tags:
        Upload_Date.append(i.text)

In [105]:
Upload_Date

['June 17, 2016',
 'January 12, 2017',
 'January 30, 2017',
 'April 6, 2015',
 'October 8, 2016',
 'January 31, 2012',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'May 2, 2018',
 'March 6, 2014',
 'October 22, 2015',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'April 5, 2018',
 'August 18, 2014',
 'December 3, 2015',
 'March 22, 2015',
 'April 11, 2014',
 'February 20, 2014',
 'May 31, 2018',
 'July 25, 2012',
 'June 29, 2017',
 'October 22, 2015',
 'June 4, 2010',
 'November 9, 2017',
 'November 10, 2014',
 'November 18, 2016']

In [119]:
import pandas as pd
Data=pd.DataFrame({})
Data['Rank']=rank[0:20]
Data['Name']=name[0:20]
Data['Artist']=artist[0:20]
Data['Uplaod_date']=Upload_Date[0:20]
Data['views']=views[0:20]

In [120]:
Data

,Rank,Name,Artist,Uplaod_date,views
0,1.,music videos,Pinkfong Kids' Songs & Stories,"June 17, 2016",7.85
1,2.,Baby Shark Dance,Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.19
2,3.,Baby Shark Dance,Ed Sheeran,"January 30, 2017",5.18
3,4.,Cocomelon – Nursery Rhymes,Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.94
4,5.,Gente De Zona,LooLoo Kids,"October 8, 2016",4.73
5,6.,Maluma,Get Movies,"January 31, 2012",4.41
6,7.,Cocomelon – Nursery Rhymes,Mark Ronson featuring Bruno Mars,"November 19, 2014",4.08
7,8.,Fueled By Ramen,Psy,"July 15, 2012",3.96
8,9.,Baby Shark Dance,Miroshka TV,"February 27, 2018",3.69
9,10.,Closer,Cocomelon – Nursery Rhymes,"May 2, 2018",3.61
10,11.,Cocomelon – Nursery Rhymes,ChuChu TV,"March 6, 2014",3.50
11,12.,Cocomelon – Nursery Rhymes,Justin Bieber,"October 22, 2015",3.40
12,13.,Baby Shark Dance,Maroon 5,"January 14, 2015",3.39
13,14.,List of most-viewed online trailers in the fir...,Katy Perry,"September 5, 2013",3.27
14,15.,regional restrictions,OneRepublic,"May 31, 2013",3.19
15,16.,regional restrictions,Ed Sheeran,"October 7, 2014",3.18
16,17.,Wired,El Chombo featuring Cutty Ranks,"April 5, 2018",3.10
17,18.,,Taylor Swift,"August 18, 2014",3.02
18,19.,,Alan Walker,"December 3, 2015",2.98
19,20.,music videos,Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.97

# Que--2

In [2]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [3]:
# Opening the homepage bcci.tv
driver.get('https://www.bcci.tv/')

In [9]:
try:
    menu=driver.find_element_by_xpath('//li[@class="drop-down__option  "]/a')
    driver.get(menu.get_attribute('href'))
except StaleElementReferenceException as e:             # Handling StaleElement Exception   
        print("Stale Exception")

In [30]:
# creating empty list
match_title=[]
series=[]
place=[]
Date=[]
time=[]

In [56]:
 # Extracting match titles
match_title_tags=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in match_title_tags:
    match_title.append(i.text)

In [57]:
match_title

['2nd Test',
 '3rd Test',
 '4th Test',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I',
 '5th T20I',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '5th Test']

In [58]:
 # Extracting series data
series_tags=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series_tags:
    series.append(i.text)

In [59]:
series

['INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [60]:
 # Extracting place data
place_tags=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place_tags:
    place.append(i.text)

In [61]:
place

['M. A. Chidambaram Stadium, Chennai',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Maharashtra Cricket Association Stadium, Pune',
 'Maharashtra Cricket Association Stadium, Pune',
 'Maharashtra Cricket Association Stadium, Pune',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [31]:
 # Extracting Date data
Date_tags=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/span/strong")
for i in Date_tags:
    Date.append(i.text)

In [32]:
Date

['Saturday 13th February',
 'Wednesday 24th February',
 'Thursday 4th March',
 'Friday 12th March',
 'Sunday 14th March',
 'Tuesday 16th March',
 'Thursday 18th March',
 'Saturday 20th March',
 'Tuesday 23rd March',
 'Friday 26th March',
 'Sunday 28th March',
 'Wednesday 4th August',
 'Thursday 12th August',
 'Wednesday 25th August',
 'Thursday 2nd September',
 'Friday 10th September']

In [46]:
 # Extracting time
time_tags=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/span")
for i in time_tags:
    time.append(i.text)

In [44]:
time

['Saturday 13th February 09:30 IST',
 'Wednesday 24th February 14:30 IST',
 'Thursday 4th March 09:30 IST',
 'Friday 12th March 19:00 IST',
 'Sunday 14th March 19:00 IST',
 'Tuesday 16th March 19:00 IST',
 'Thursday 18th March 19:00 IST',
 'Saturday 20th March 19:00 IST',
 'Tuesday 23rd March 13:30 IST',
 'Friday 26th March 13:30 IST',
 'Sunday 28th March 13:30 IST',
 'Wednesday 4th August 15:30 IST',
 'Thursday 12th August 15:30 IST',
 'Wednesday 25th August 15:30 IST',
 'Thursday 2nd September 15:30 IST',
 'Friday 10th September 15:30 IST']

In [70]:
import pandas as pd
data=pd.DataFrame({})
data['match_title']=match_title[0:15]
data['series']=series[0:15]
data['place']=place[0:15]
data['Date']=Date[0:15]
data['time']=time[0:15]

In [71]:
data

,match_title,series,place,Date,time
0,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",Saturday 13th February,Saturday 13th February 09:30 IST
1,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",Wednesday 24th February,Wednesday 24th February 14:30 IST
2,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",Thursday 4th March,Thursday 4th March 09:30 IST
3,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",Friday 12th March,Friday 12th March 19:00 IST
4,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",Sunday 14th March,Sunday 14th March 19:00 IST
5,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",Tuesday 16th March,Tuesday 16th March 19:00 IST
6,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",Thursday 18th March,Thursday 18th March 19:00 IST
7,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",Saturday 20th March,Saturday 20th March 19:00 IST
8,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23rd March,Tuesday 23rd March 13:30 IST
9,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Friday 26th March,Friday 26th March 13:30 IST
10,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Sunday 28th March,Sunday 28th March 13:30 IST
11,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4th August,Wednesday 4th August 15:30 IST
12,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12th August,Thursday 12th August 15:30 IST
13,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25th August,Wednesday 25th August 15:30 IST
14,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2nd September,Thursday 2nd September 15:30 IST

# Que--3

In [12]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [13]:
# Opening the homepage of Amazon.in
driver.get('https://www.guru99.com/')

In [30]:
user_inp = input('Enter input: ')     # user input

Enter input: selenium exception handling

In [25]:
search_bar2 =  driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')

In [26]:
search_bar2.click()

In [27]:
search_bar2.clear()

In [31]:
search_bar2.send_keys(user_inp)       # sending keys to search bar

In [32]:
search_button = driver.find_element_by_xpath('//*[@id="___gcse_1"]/div/div/form/table/tbody/tr/td[2]/button')       # Locating search_button by xpath
search_button.click()

In [33]:
# creating empty list
name=[]
desc=[]

In [46]:
 # Extracting name
name_tags=driver.find_elements_by_xpath('//div[@class="gs-title"]')
for i in name_tags:
    name.append(i.text)

In [47]:
name

['Selenium Exception Handling (Common Exceptions List)',
 'How to Handle SSL Certificate in Selenium WebDriver',
 'Selenium Alert & Popup Window Handling: How to Handle?',
 'Handling Dynamic Web Tables Using Selenium WebDriver',
 'Store Variables, Echo, Alert, PopUp handling in Selenium IDE',
 'Cookies Handling in Selenium WebDriver',
 'How to Handle AJAX Call in Selenium Webdriver',
 'How to Handle iFrames in Selenium Webdriver: switchTo()',
 'Parallel Execution in Selenium: Session Handling & TestNG ...',
 'Robot Class in Selenium Webdriver',
 '']

In [48]:
 # Extracting description
desc_tags=driver.find_elements_by_xpath('//div[@class="gs-bidi-start-align gs-snippet"]')
for i in desc_tags:
    desc.append(i.text)

In [49]:
desc

['16 Dec 2020 ... Handling Selenium Exceptions; Methods for displaying Exception. Common Exceptions in Selenium Web driver. Exception name, Description.',
 '13 Dec 2020 ... Then such error is subject to SSL certificate error. Now, if the browser is unable to establish a secured connection with the requested certificate, ...',
 '29 Dec 2020 ... It notifies the user with some specific information or error, asks for permission to perform certain tasks and it also provides warning messages as ...',
 '5 Jan 2021 ... Now, we will learn how to handle dynamic table in Selenium: ... static void main( String[] args) throws ParseException { WebDriver wd; System.',
 '10 Jan 2021 ... In this tutorial, we will learn, Store commands, Echo commands, Alerts and Popup handling, Confirmations and about Multiple Windows.',
 '13 Dec 2020 ... In Selenium Webdriver, we can query and interact with cookies with ... newLine(); } Bwrite.close(); fileWrite.close(); } catch(Exception ex) { ex.',
 '13 Dec 2020 ... Ajax is a technique used for creating fast and dynamic web pages. This technique is asynchronous and uses a combination of Javascript and ...',
 '4 Jan 2021 ... Basically, we can switch over the elements and handle frames in Selenium using 3 ways. By Index; By Name or Id; By Web Element. Switch to the ...',
 "11 Dec 2020 ... To understand how to run selenium scripts in parallel with Multiple Browsers. Let's first understand Session Handling. During test execution, the ...",
 '4 days ago ... Selenium Webdriver cannot handle these pop-ups/applications, so in ... new Robot(); // Robot class throws AWT Exception Thread.sleep(2000); ...',
 '']

In [53]:
import pandas as pd
data=pd.DataFrame({})
data['name']=name[0:11]
data['desc']=desc[0:11]

In [54]:
data

,name,desc
0,Selenium Exception Handling (Common Exceptions...,16 Dec 2020 ... Handling Selenium Exceptions; ...
1,How to Handle SSL Certificate in Selenium WebD...,13 Dec 2020 ... Then such error is subject to ...
2,Selenium Alert & Popup Window Handling: How to...,29 Dec 2020 ... It notifies the user with some...
3,Handling Dynamic Web Tables Using Selenium Web...,"5 Jan 2021 ... Now, we will learn how to handl..."
4,"Store Variables, Echo, Alert, PopUp handling i...","10 Jan 2021 ... In this tutorial, we will lear..."
5,Cookies Handling in Selenium WebDriver,"13 Dec 2020 ... In Selenium Webdriver, we can ..."
6,How to Handle AJAX Call in Selenium Webdriver,13 Dec 2020 ... Ajax is a technique used for c...
7,How to Handle iFrames in Selenium Webdriver: s...,"4 Jan 2021 ... Basically, we can switch over t..."
8,Parallel Execution in Selenium: Session Handli...,11 Dec 2020 ... To understand how to run selen...
9,Robot Class in Selenium Webdriver,4 days ago ... Selenium Webdriver cannot handl...
10,,

In [55]:
data.to_csv()

',name,desc\r\n0,Selenium Exception Handling (Common Exceptions List),"16 Dec 2020 ... Handling Selenium Exceptions; Methods for displaying Exception. Common Exceptions in Selenium Web driver. Exception name, Description."\r\n1,How to Handle SSL Certificate in Selenium WebDriver,"13 Dec 2020 ... Then such error is subject to SSL certificate error. Now, if the browser is unable to establish a secured connection with the requested certificate, ..."\r\n2,Selenium Alert & Popup Window Handling: How to Handle?,"29 Dec 2020 ... It notifies the user with some specific information or error, asks for permission to perform certain tasks and it also provides warning messages as ..."\r\n3,Handling Dynamic Web Tables Using Selenium WebDriver,"5 Jan 2021 ... Now, we will learn how to handle dynamic table in Selenium: ... static void main( String[] args) throws ParseException { WebDriver wd; System."\r\n4,"Store Variables, Echo, Alert, PopUp handling in Selenium IDE","10 Jan 2021 ... In this tutorial, we will learn, Store commands, Echo commands, Alerts and Popup handling, Confirmations and about Multiple Windows."\r\n5,Cookies Handling in Selenium WebDriver,"13 Dec 2020 ... In Selenium Webdriver, we can query and interact with cookies with ... newLine(); } Bwrite.close(); fileWrite.close(); } catch(Exception ex) { ex."\r\n6,How to Handle AJAX Call in Selenium Webdriver,13 Dec 2020 ... Ajax is a technique used for creating fast and dynamic web pages. This technique is asynchronous and uses a combination of Javascript and ...\r\n7,How to Handle iFrames in Selenium Webdriver: switchTo(),"4 Jan 2021 ... Basically, we can switch over the elements and handle frames in Selenium using 3 ways. By Index; By Name or Id; By Web Element. Switch to the ..."\r\n8,Parallel Execution in Selenium: Session Handling & TestNG ...,"11 Dec 2020 ... To understand how to run selenium scripts in parallel with Multiple Browsers. Let\'s first understand Session Handling. During test execution, the ..."\r\n9,Robot Class in Selenium Webdriver,"4 days ago ... Selenium Webdriver cannot handle these pop-ups/applications, so in ... new Robot(); // Robot class throws AWT Exception Thread.sleep(2000); ..."\r\n10,,\r\n'

# Que--4

In [21]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [22]:
# Opening the homepage of statisticstimes.com
driver.get('http://statisticstimes.com/')

In [20]:
element = driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[3]')       # Locating to required webpage
driver.get(element.get_attribute('href'))

In [21]:
element1 = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')  
driver.get(element1.get_attribute('href'))

In [22]:
# creating empty list
rank=[]
state=[]
gsdp=[]
GSDP=[]
share=[]
gdp=[]

In [24]:
 # Extracting rank
rank_tags=driver.find_elements_by_xpath('//td[@class="data1"]')
for i in rank_tags:
    rank.append(i.text)

In [26]:
rank[0:4]

['1', '2', '3', '4']

In [27]:
 # Extracting state
state_tags=driver.find_elements_by_xpath('//td[@class="name"]')
for i in state_tags:
    state.append(i.text)

In [28]:
state[0:4]

['Maharashtra', 'Uttar Pradesh', 'Tamil Nadu', 'Karnataka']

In [29]:
 # Extracting gsdp
gsdp_tags=driver.find_elements_by_xpath('//td[@class="data"]')
for i in gsdp_tags:
    gsdp.append(i.text)

In [31]:
gsdp[0:4]

['-', '13.88%', '398.145', '-']

In [32]:
 # Extracting GSDP
GSDP_tags=driver.find_elements_by_xpath('//td[@class="data sorting_1"]')
for i in GSDP_tags:
    GSDP.append(i.text)

In [33]:
GSDP[0:4]

['2,632,792', '1,668,229', '1,630,208', '1,544,399']

In [34]:
 # Extracting share
share_tags=driver.find_elements_by_xpath('//tr[@class="odd"]/td[5]')
for i in share_tags:
    share.append(i.text)

In [35]:
share[0:4]

['13.88%', '8.59%', '7.92%', '4.97%']

In [36]:
 # Extracting gdp
gdp_tags=driver.find_elements_by_xpath('//tr[@class="odd"]/td[6]')
for i in gdp_tags:
    gdp.append(i.text)

In [37]:
gdp[0:4]

['398.145', '246.529', '227.276', '142.543']

In [42]:
import pandas as pd
data=pd.DataFrame({})
data['rank']=rank[0:33]
data['state']=state[0:33]
data['share']=share[0:33]
data['gsdp']=gsdp[0:33]
data['GSDP']=GSDP[0:33]
data['gdp']=gdp[0:33]

In [43]:
data

   rank                      state   share       gsdp       GSDP        gdp
0     1                Maharashtra  13.88%          -  2,632,792    398.145
1     2              Uttar Pradesh   8.59%     13.88%  1,668,229    246.529
2     3                 Tamil Nadu   7.92%    398.145  1,630,208    227.276
3     4                  Karnataka   4.97%          -  1,544,399    142.543
4     5                    Gujarat   4.54%  2,039,074  1,502,899    130.210
5     6                West Bengal   4.12%  1,794,508  1,089,898    118.206
6     7                  Rajasthan   3.87%      8.79%    942,586    111.024
7     8             Andhra Pradesh   2.77%    252.278    862,957     79.601
8     9                  Telangana   1.67%  1,187,277    861,031     47.769
9    10             Madhya Pradesh   1.57%  1,137,469    809,592     44.945
10   11                     Kerala   0.82%  1,845,853    781,653     23.584
11   12                      Delhi   0.39%      8.59%    774,870     11.065
12   13                    Haryana   0.22%    246.529    734,163      6.369
13   14                      Bihar   0.18%  1,312,929    530,363      5.063
14   15                     Punjab   0.15%  1,215,307    526,376      4.214
15   16                     Odisha   0.13%  1,699,115    492,229      3.721
16   17                      Assam       -      8.14%    315,881          -
17   18               Chhattisgarh  13.90%    233.552    304,063          -
18   19                  Jharkhand   8.73%  1,201,031    297,204  1,167,776
19   20                Uttarakhand   7.88%  1,124,423    245,895          -
20   21            Jammu & Kashmir   5.03%          -    155,956    630,693
21   22           Himachal Pradesh   4.62%      7.92%    153,845    595,605
22   23                        Goa   4.21%    227.276     73,170          -
23   24                    Tripura   3.97%          -     49,845    514,983
24   25                 Chandigarh   2.81%  1,186,379     42,114    374,015
25   26                 Puducherry   1.68%  1,253,832     36,656          -
26   27                  Meghalaya   1.59%      5.75%     33,481    210,837
27   28                     Sikkim   0.79%    164.820     28,723    107,171
28   29                    Manipur   0.39%    793,223     27,869          -
29   30                   Nagaland   0.22%    739,525     27,283          -
30   31          Arunachal Pradesh   0.18%  1,020,989     24,603     23,564
31   32                    Mizoram   0.15%      4.97%     19,520     17,060
32   33  Andaman & Nicobar Islands   0.13%    142.543          -          -

In [44]:
data.to_csv()

',rank,state,share,gsdp,GSDP,gdp\r\n0,1,Maharashtra,13.88%,-,"2,632,792",398.145\r\n1,2,Uttar Pradesh,8.59%,13.88%,"1,668,229",246.529\r\n2,3,Tamil Nadu,7.92%,398.145,"1,630,208",227.276\r\n3,4,Karnataka,4.97%,-,"1,544,399",142.543\r\n4,5,Gujarat,4.54%,"2,039,074","1,502,899",130.210\r\n5,6,West Bengal,4.12%,"1,794,508","1,089,898",118.206\r\n6,7,Rajasthan,3.87%,8.79%,"942,586",111.024\r\n7,8,Andhra Pradesh,2.77%,252.278,"862,957",79.601\r\n8,9,Telangana,1.67%,"1,187,277","861,031",47.769\r\n9,10,Madhya Pradesh,1.57%,"1,137,469","809,592",44.945\r\n10,11,Kerala,0.82%,"1,845,853","781,653",23.584\r\n11,12,Delhi,0.39%,8.59%,"774,870",11.065\r\n12,13,Haryana,0.22%,246.529,"734,163",6.369\r\n13,14,Bihar,0.18%,"1,312,929","530,363",5.063\r\n14,15,Punjab,0.15%,"1,215,307","526,376",4.214\r\n15,16,Odisha,0.13%,"1,699,115","492,229",3.721\r\n16,17,Assam,-,8.14%,"315,881",-\r\n17,18,Chhattisgarh,13.90%,233.552,"304,063",-\r\n18,19,Jharkhand,8.73%,"1,201,031","297,204","1,167,776"\r\n19,20,Uttarakhand,7.88%,"1,124,423","245,895",-\r\n20,21,Jammu & Kashmir,5.03%,-,"155,956","630,693"\r\n21,22,Himachal Pradesh,4.62%,7.92%,"153,845","595,605"\r\n22,23,Goa,4.21%,227.276,"73,170",-\r\n23,24,Tripura,3.97%,-,"49,845","514,983"\r\n24,25,Chandigarh,2.81%,"1,186,379","42,114","374,015"\r\n25,26,Puducherry,1.68%,"1,253,832","36,656",-\r\n26,27,Meghalaya,1.59%,5.75%,"33,481","210,837"\r\n27,28,Sikkim,0.79%,164.820,"28,723","107,171"\r\n28,29,Manipur,0.39%,"793,223","27,869",-\r\n29,30,Nagaland,0.22%,"739,525","27,283",-\r\n30,31,Arunachal Pradesh,0.18%,"1,020,989","24,603","23,564"\r\n31,32,Mizoram,0.15%,4.97%,"19,520","17,060"\r\n32,33,Andaman & Nicobar Islands,0.13%,142.543,-,-\r\n'

# Que--5

In [2]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [3]:
# Opening the homepage of github.com
driver.get('https://github.com/')

In [4]:
user_inp = input('Enter input: ')

Enter input: Trending repositories

In [17]:
search_bar2 =  driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/div[2]/div/div/div/form/label/input[1]')

In [18]:
search_bar2.click()
search_bar2.clear()

In [19]:
search_bar2.send_keys(user_inp)       # sending user input

In [20]:
search_button = driver.find_element_by_xpath('//*[@id="jump-to-suggestion-search-global"]/a')       # Locating search_button by xpath
#search_button.click()
driver.get(search_button.get_attribute('href'))

In [4]:
# creating empty list
Rep_title=[]
Rep_desc=[]
Contri_count=[]
Lang_used=[]

In [5]:
 # Extracting titles
for b in range(1,10):
    title_tags=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div/div[3]/div/ul/li[%d]/div[2]/div[1]/a'%(b))
    for i in title_tags:
        Rep_title.append(i.text)

In [6]:
Rep_title

['mbadry1/Trending-Deep-Learning',
 'vitalets/github-trending-repos',
 'Semigradsky/trending-repositories',
 'laowch/GithubTrends',
 'ophobe/trending',
 'ecrmnn/trending-github',
 'zhuowenli/githuber',
 'andygrunwald/TrendingGithub',
 'andygrunwald/go-trending']

In [7]:
 # Extracting description
for b in range(1,10):
    desc_tags=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div/div[3]/div/ul/li[%d]/div[2]/p'%(b))
    for i in desc_tags:
        Rep_desc.append(i.text)

In [8]:
Rep_desc

['Top 100 trending deep learning repositories sorted by the number of stars gained on a specific day.',
 'Track GitHub trending repositories in your favorite programming language by native GitHub notifications!',
 'This is a list of repositories that were trending for a day',
 "It's a GitHub Trending repositories Viewer with Material Design.",
 'Dataset of trending repositories on GitHub',
 ' Simple API for getting trending repositories on GitHub',
 'Display Github Trending repositories on Chrome New Tab Extensions',
 'A twitter bot (@TrendingGithub) to tweet trending repositories and developers from GitHub',
 'Go library for accessing trending repositories and developers at Github.']

In [11]:
 # Extracting language
for b in range(1,10):
    try:
        lang_tags=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div/div[3]/div/ul/li[%d]/div[2]/div[2]/div[2]/div[2]/span/span[2]'%(b))
        for i in lang_tags:
            Lang_used.append(i.text)
    except NoSuchElementException:
        Lang_used.append("---")

In [12]:
Lang_used

['Python',
 'HTML',
 'TypeScript',
 'JavaScript',
 'Python',
 'HTML',
 'TypeScript',
 'JavaScript']

In [13]:
URLS=[]
for i in range(10):
    for b in range(1,10):
        url=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div/div[3]/div/ul/li[%d]/div[2]/div[1]/a'%(b))
        for urls in url:
            URLS.append(urls.get_attribute("href"))

In [14]:
URLS[0:4]

['https://github.com/mbadry1/Trending-Deep-Learning',
 'https://github.com/vitalets/github-trending-repos',
 'https://github.com/Semigradsky/trending-repositories',
 'https://github.com/laowch/GithubTrends']

In [21]:
ul=[]
ull=[]
for i in URLS[2:10]:
    driver.get(i)
   
    
    c=driver.find_element_by_xpath('//*[@id="js-repo-pjax-container"]/div[1]/nav/ul/li[7]/a')
    ul.append(c.get_attribute('href'))

In [16]:
ul

['https://github.com/Semigradsky/trending-repositories/pulse',
 'https://github.com/laowch/GithubTrends/pulse',
 'https://github.com/ophobe/trending/pulse',
 'https://github.com/ecrmnn/trending-github/pulse',
 'https://github.com/zhuowenli/githuber/pulse',
 'https://github.com/andygrunwald/TrendingGithub/pulse',
 'https://github.com/andygrunwald/go-trending/pulse',
 'https://github.com/mbadry1/Trending-Deep-Learning/pulse']

In [38]:
for j in ul[0:7]:
    c1=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[1]/nav/a[2]')
    ull=driver.get(c1.get_attribute('href'))

In [31]:
for range in(0,10):
    Contri_tags=driver.find_elements_by_xpath('//*[@id="contributors"]/ol/li/span/h3/span[2]/span/div/span[1]')
    for i in Contri_tags:
        Contri_count.append(i.text)

In [36]:
import pandas as pd
data=pd.DataFrame({})
data['Rep_title']=Rep_title[0:7]
data['Rep_desc']=Rep_desc[0:7]
data['Contri_count']=Contri_count[0:7]
data['Lang_used']=Lang_used[0:7]

In [37]:
data

,Rep_title,Rep_desc,Contri_count,Lang_used
0,mbadry1/Trending-Deep-Learning,Top 100 trending deep learning repositories so...,"3,342 ++",Python
1,vitalets/github-trending-repos,Track GitHub trending repositories in your fav...,"3,342 ++",HTML
2,Semigradsky/trending-repositories,This is a list of repositories that were trend...,"3,342 ++",TypeScript
3,laowch/GithubTrends,It's a GitHub Trending repositories Viewer wit...,"3,342 ++",JavaScript
4,ophobe/trending,Dataset of trending repositories on GitHub,"3,342 ++",Python
5,ecrmnn/trending-github,Simple API for getting trending repositories ...,"3,342 ++",HTML
6,zhuowenli/githuber,Display Github Trending repositories on Chrome...,"3,342 ++",TypeScript

# Que--6

In [29]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [30]:
# Opening the homepage of billboard.com
driver.get('https://www.billboard.com/')

In [4]:
button = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a')       # Locating webpage by xpath
driver.get(button.get_attribute('href'))

In [5]:
# creating empty list
name=[]
artist=[]
last_week_rank=[]
peak_rank=[]
weeks_on_chart=[]

In [8]:
 # Extracting name
for b in range(1,100):
    name_tags=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li[%d]/button/span[2]/span[1]'%(b))
    for i in name_tags:
        name.append(i.text)

In [22]:
name[0:3]

['Drivers License', 'Drivers License', 'Mood']

In [15]:
 # Extracting artist
for b in range(1,100):
    artist_tags=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li[%d]/button/span[2]/span[2]'%(b))
    for i in artist_tags:
        artist.append(i.text)

In [16]:
artist[0:2]

['Olivia Rodrigo', '24kGoldn Featuring iann dior']

In [18]:
 # Extracting last week rank
for b in range(1,100):
    l_w_tags=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li[%d]/button/div/div[1]'%(b))
    for i in l_w_tags:
        last_week_rank.append(i.text)

In [19]:
last_week_rank[0:3]

['', '2', '3']

In [25]:
 # Extracting peak rank
for b in range(1,100):
    peak_tags=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li[%d]/button/div/div[2]'%(b))
    for i in peak_tags:
        peak_rank.append(i.text)

In [26]:
peak_rank[0:3]

['1', '1', '1']

In [31]:
 # Extracting weeks on chart
for b in range(1,100):
    weeks_on_chart_tags=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li[%d]/button/div/div[3]'%(b))
    for i in weeks_on_chart_tags:
        weeks_on_chart.append(i.text)

In [32]:
weeks_on_chart[0:3]

['1', '26', '61']

In [33]:
import pandas as pd
data=pd.DataFrame({})
data['name']=name[0:90]
data['artist']=artist[0:90]
data['last_week_rank']=last_week_rank[0:90]
data['peak_rank']=peak_rank[0:90]
data['weeks_on_chart']=weeks_on_chart[0:90]

In [34]:
data

,name,artist,last_week_rank,peak_rank,weeks_on_chart
0,Drivers License,Olivia Rodrigo,,1,1
1,Drivers License,24kGoldn Featuring iann dior,2,1,26
2,Mood,The Weeknd,3,1,61
3,Blinding Lights,Ariana Grande,4,2,14
4,34+35,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
85,Monster,Glass Animals,,91,86
86,Heat Waves,"Lil Durk, 6LACK & Young Thug",,-,73
87,Stay Down,Tenille Arts,,89,88
88,Somebody Like That,Sabrina Carpenter,48,48,2
89,Skin,DDG,88,82,6

In [35]:
data.to_csv()

',name,artist,last_week_rank,peak_rank,weeks_on_chart\r\n0,Drivers License,Olivia Rodrigo,,1,1\r\n1,Drivers License,24kGoldn Featuring iann dior,2,1,26\r\n2,Mood,The Weeknd,3,1,61\r\n3,Blinding Lights,Ariana Grande,4,2,14\r\n4,34+35,Dua Lipa Featuring DaBaby,5,5,18\r\n5,Levitating,Chris Brown & Young Thug,6,5,39\r\n6,Go Crazy,Ariana Grande,7,1,15\r\n7,Positions,The Weeknd,,14,8\r\n8,Save Your Tears,Justin Bieber Featuring Chance The Rapper,8,3,20\r\n9,Holy,CJ,,16,10\r\n10,Whoopty,SZA,9,9,6\r\n11,Good Days,Justin Bieber & benny blanco,,13,12\r\n12,Lonely,Pop Smoke,,19,13\r\n13,What You Know Bout Love,Billie Eilish,12,2,13\r\n14,Therefore I Am,Pop Smoke Featuring Lil Baby & DaBaby,11,6,31\r\n15,For The Night,AJR,10,8,31\r\n16,Bang!,Luke Combs,15,15,18\r\n17,Better Together,Doja Cat,,25,18\r\n18,Streets,Gabby Barrett Featuring Charlie Puth,17,3,58\r\n19,I Hope,Megan Thee Stallion,18,12,11\r\n20,Body,Bad Bunny & Jhay Cortez,20,5,14\r\n21,Dakiti,Internet Money & Gunna Featuring Don Toliver & NAV,21,6,25\r\n22,Lemonade,Tate McRae,,27,23\r\n23,You Broke Me First.,Drake Featuring Lil Durk,22,2,25\r\n24,Laugh Now Cry Later,Machine Gun Kelly X blackbear,,34,25\r\n25,My Ex\'s Best Friend,Morgan Wallen,,31,9\r\n26,Wasted On You,Yung Bleu Featuring Drake,,32,27\r\n27,You\'re Mines Still,Justin Bieber,26,6,5\r\n28,Anyone,Taylor Swift,28,1,8\r\n29,Willow,Lil Baby,29,29,9\r\n30,On Me,Niko Moon,,37,31\r\n31,Good Time,Morgan Wallen,,38,32\r\n32,Sand In My Boots,BRS Kash,24,24,16\r\n33,Throat Baby (Go Baby),Lewis Capaldi,33,9,50\r\n34,Before You Go,Morgan Wallen,23,6,24\r\n35,7 Summers,Chris Stapleton,,36,25\r\n36,Starting Over,Pooh Shiesty Featuring Lil Durk,,40,37\r\n37,Back In Blood,Morgan Wallen,,30,15\r\n38,More Than My Hometown,Lil Durk Featuring Lil Baby,,-,39\r\n39,Finesse Out The Gang Way,Kelsea Ballerini,,42,40\r\n40,Hole In The Bottle,Ava Max,35,13,26\r\n41,Kings & Queens,Saweetie Featuring Doja Cat,,45,39\r\n42,Best Friend,Megan Thee Stallion Featuring DaBaby,,54,43\r\n43,Cry Baby,DaBaby Featuring Roddy Ricch,41,1,41\r\n44,Rockstar,Ed Sheeran,39,29,7\r\n45,Afterglow,BTS,46,1,24\r\n46,Dynamite,Kenny Chesney,,50,47\r\n47,Happy Does,Morgan Wallen,43,25,8\r\n48,Somebody\'s Problem,"Jack Harlow Featuring DaBaby, Tory Lanez & Lil Wayne",44,2,51\r\n49,Whats Poppin,Ritt Momney,,55,50\r\n50,Put Your Records On,H.E.R.,,52,51\r\n51,Damage,The Kid LAROI,47,47,9\r\n52,Without You,Lil Durk Featuring Pooh Shiesty,,-,53\r\n53,Should\'ve Ducked,Parmalee x Blanco Brown,,56,54\r\n54,Just The Way,Darius Rucker,,53,53\r\n55,Beers And Sunshine,Luke Bryan,,58,56\r\n56,Down To One,Thomas Rhett,,59,57\r\n57,What\'s Your Country Song,SpotemGottem,,60,58\r\n58,Beat Box,Sam Smith,49,39,20\r\n59,Diamonds,Gabby Barrett,,64,60\r\n60,The Good Ones,Harry Styles,,65,61\r\n61,Golden,Erica Banks,,67,62\r\n62,Buss It,Travis Scott & HVME,,73,63\r\n63,Goosebumps,All Time Low Featuring Demi Lovato & blackbear,,69,64\r\n64,Monsters,Florida Georgia Line,,68,65\r\n65,Long Live,Jack Harlow,63,34,15\r\n66,Tyler Herro,Morgan Wallen,,74,52\r\n67,Cover Me Up,Luke Combs,66,2,15\r\n68,Forever After All,Saweetie Featuring Jhene Aiko,61,58,11\r\n69,Back To The Streets,Lil Durk & King Von,,84,53\r\n70,Still Trappin\',"Brent Faiyaz & DJ Dahi Featuring Tyler, The Creator",,-,71\r\n71,Gravity,Karol G,,75,72\r\n72,Bichota,Juice WRLD & Young Thug,57,22,3\r\n73,Bad Boy,Selena Gomez With Rauw Alejandro,,-,74\r\n74,Baila Conmigo,Brett Young,,86,75\r\n75,Lady,Morgan Wallen,72,45,7\r\n76,Still Goin Down,Morgan Wallen,,77,46\r\n77,865,The Kid LAROI,79,59,13\r\n78,So Done,Morgan Wallen,76,42,4\r\n79,Warning,Lil Nas X,71,37,12\r\n80,Holiday,Eric Church,,90,81\r\n81,Hell Of A View,Black Eyed Peas X Shakira,,85,82\r\n82,Girl Like Me,Dustin Lynch,,87,83\r\n83,Momma\'s House,Chris Lane,82,42,18\r\n84,"Big, Big Plans",Shawn Mendes & Justin Bieber,70,8,11\r\n85,Monster,Glass Animals,,91,86\r\n86,Heat Waves,"Lil Durk, 6LACK & Young Thug",,-,73\r\n87,Stay Down,Tenille Arts,,89,88\r\n88,Somebody Like That,Sabrina Carpenter,48,48,2\r\n89,Skin,DDG,88,82,6\r\n'

# Que--7

In [5]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [6]:
# Opening the homepage of naukri.com
driver.get('https://www.naukri.com/')

In [38]:
r = driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a')       # Locating search_button by xpath
driver.get(r.get_attribute('href'))

In [43]:
search_field_designation=driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input')
search_field_designation.send_keys("Data scientist")

In [45]:
search_field_location=driver.find_element_by_xpath('//*[@id="location"]/div[1]/div[2]/input')
search_field_location.send_keys("Bangalore")

In [47]:
# clicking the search button
search_button=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
search_button.click()

In [19]:
# creating empty list
Name=[]
Desg=[]
company=[]
loc=[]
skills=[]

In [30]:
 # Extracting name
for b in range(1,25):
    Name_tags=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[%d]/div[1]/div[1]/div[1]/p/a[1]/span'%(b))
    for i in Name_tags:
        Name.append(i.text)

In [31]:
Name

['Bitapi',
 'HS Sandesh',
 'Datafoundry',
 'Prashant K',
 'Best In Town Analytics',
 'Nagajothi Edumdan',
 'rajesh',
 'Gautam Malaiappan',
 'TerraBlue XT',
 'kumar',
 'John Paul',
 'Biju John',
 'Anantha Padmanabhan',
 'Harshitha H P',
 'Rajani Nagaraj',
 'Shiva Kumar N',
 'Ishaan',
 'abha',
 'Nithin Prasad',
 'Srinivasan S Saripalli',
 'Leena Nothani',
 'Supriya Patanjali',
 'Saravanaprakash Balakrishnan',
 'Suresh Chalikavada']

In [28]:
 # Extracting designation
for b in range(1,25):
    desg_tags=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[%d]/div[1]/div[1]/div[1]/p/span[1]'%(b))
    for i in desg_tags:
        Desg.append(i.text)

In [29]:
Desg

['HR and Operation Manager',
 'Talent Evangelist www staffiohr co',
 'Company HR',
 'Sr HR',
 'Analytics Associate',
 'Lead Technical Recruiter',
 'HR Executive',
 'Founder CEO',
 'HR manager',
 'Proprietor',
 'Company HR',
 'Recruitment Consultant',
 'HR Executive',
 'Senior Associate TA',
 'HR Manager',
 'Founder',
 'Talent Manager',
 'Company HR',
 'HR Executive',
 'Technology Director and Operations',
 'Associate Partner Analytics Hiring',
 'Talent Acquisition Specialist',
 'Technical Recruiter',
 'Manager Talent Acquisition']

In [26]:
 # Extracting company
for b in range(1,25):
    company_tags=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[%d]/div[2]/div[1]/div[1]/p/a[2]'%(b))
    for i in company_tags:
        company.append(i.text)

In [27]:
company

['Wipro',
 'Rinalytics Advisors',
 'Redbus.in',
 'Talent Management Labs Inc.',
 'DeepIQ Software Solutions Pvt Ltd',
 'Terra Blue Exploration Technologies Pvt....',
 'Quaero 3 India Ltd',
 'BlackBuck Insights',
 'ABC Consultants Pvt Ltd',
 'Accenture',
 'Makonis Software Solutions Private Limited',
 'Gladwin Analytics',
 'Adcuratio Media Inc',
 'MADHUSUDHAN SRIDHAR',
 'SigTuple Technologies Pvt Ltd',
 'Connecting The Dots',
 'Opendoors Fintech Private Limited',
 'Mwyn Tech Pvt Ltd',
 'SRIT India PVt Ltd',
 'Engage IT Manpower Solutions Pvt Ltd',
 'AppsTec',
 'BMS Innolabs',
 'Sling Media Private Limited',
 'Kwalee']

In [20]:
location
for b in range(1,25):
    l_tags=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[%d]/div[1]/div[1]/div[1]/p/span[2]/small'%(b))
    for i in l_tags:
        loc.append(i.text)

In [21]:
loc

['Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore']

In [23]:
 # Extracting skills
for b in range(1,25):
    s_tags=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[%d]/div[1]/div[1]/div[2]'%(b))
    for i in s_tags:
        skills.append(i.text)

In [24]:
skills

['Hadoop, Big Data, Data Scientists, Java, Spring Boot, Oracle, SQL, MySQL, Object Oriented Programming, RDBMS, Data Modeling',
 'Digital Marketing, General Manager, Business Development, Product Manager, Big Data, Business Analyst, Frontend Developer, Human Resources, data',
 'Webmethods Developer, Mean Stack, Business Analysis, Data Scientist, Database Development, java, python, Algorithm Scientist, Machine Learning, artificial',
 'Data Analyst, Statistical Analysis, Data Scientist, Analytics Manager, Software Engineer',
 'Data Analytics',
 'architect, Technical Lead, director, java, J2ee, Embedded Technologies, Qa Testing, dicom, ruby, python, c++, Product Engineer, Engineering Manager, oracle',
 'Data Scientist, Tableau, R Tool, Data Analytics, Business Analytics',
 'Sql, Sas, Sas Programming, Python, Tableau, Vba, Advanced Excel, Qlikview, Spotfire, Cognos, R, Statistical Modeling, Statistical Programming, Statistics',
 'Java, SQL, Algorithms, Python, Data Mining, R, Hadoop, Photoshop, Corel Draw, Usability, UX, Animation, Javascript, Design, Html, Wordpress, Css, Indesign',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'analytics, Business Intelligence, Data Analytics, Data Science',
 'Software Architecture, Project Management, Software Development, Engineering, Ux, System Administration, Hardware, Firmware Development, Investment Banking',
 'Automation Testing, Python Developer, Bigdata, Ui Development, Genesys, Linux Administration, Ios Development, Data Science, Hardware Design, Analog Design',
 'Infineon Technologies, Intel',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'salaesforce, Web Technologies, .net, .net full stack, java full stack, servicenow, Java, Automation Testing, Front End Developer, Backend Developer, Mobile',
 'Data Analysis, Customer Service, Business Managers',
 'Not Specified',
 'Devops, Automation, HMI, Tech/Solution Architect, Sales Associate, Inside Sales, Account Management, Bigdata, Testing, Inside Sales Executive, Inside',
 'Android Application Development, Artificial Intelligence, Data Analytics, Java, Spring Framework, C++, Docker, Machine Learning, Computer Vision, Python',
 'Analytics, Machine Learning, Big Data Analytics, Predictive Modeling, Advanced Analytics, Statistical Modeling',
 'Not Specified',
 'Big Data, Application Development, User Interface Designing, Ui Development, Database Development, Analytics',
 'HR, Benefits, Employee Development, Succession Planning, Policies, Design Development, Query Resolution']

In [32]:
import pandas as pd
data=pd.DataFrame({})
data['Name']=Name[0:25]
data['Desg']=Desg[0:25]
data['company']=company[0:25]
data['location']=loc[0:25]
data['skills']=skills[0:25]

In [33]:
data

,Name,Desg,company,location,skills
0,Bitapi,HR and Operation Manager,Wipro,Bengaluru / Bangalore,"Hadoop, Big Data, Data Scientists, Java, Sprin..."
1,HS Sandesh,Talent Evangelist www staffiohr co,Rinalytics Advisors,Bengaluru / Bangalore,"Digital Marketing, General Manager, Business D..."
2,Datafoundry,Company HR,Redbus.in,Bengaluru / Bangalore,"Webmethods Developer, Mean Stack, Business Ana..."
3,Prashant K,Sr HR,Talent Management Labs Inc.,Bengaluru / Bangalore,"Data Analyst, Statistical Analysis, Data Scien..."
4,Best In Town Analytics,Analytics Associate,DeepIQ Software Solutions Pvt Ltd,Bengaluru / Bangalore,Data Analytics
5,Nagajothi Edumdan,Lead Technical Recruiter,Terra Blue Exploration Technologies Pvt....,Bengaluru / Bangalore,"architect, Technical Lead, director, java, J2e..."
6,rajesh,HR Executive,Quaero 3 India Ltd,Bengaluru / Bangalore,"Data Scientist, Tableau, R Tool, Data Analytic..."
7,Gautam Malaiappan,Founder CEO,BlackBuck Insights,Bengaluru / Bangalore,"Sql, Sas, Sas Programming, Python, Tableau, Vb..."
8,TerraBlue XT,HR manager,ABC Consultants Pvt Ltd,Bengaluru / Bangalore,"Java, SQL, Algorithms, Python, Data Mining, R,..."
9,kumar,Proprietor,Accenture,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
10,John Paul,Company HR,Makonis Software Solutions Private Limited,Bengaluru / Bangalore,"analytics, Business Intelligence, Data Analyti..."
11,Biju John,Recruitment Consultant,Gladwin Analytics,Bengaluru / Bangalore,"Software Architecture, Project Management, Sof..."
12,Anantha Padmanabhan,HR Executive,Adcuratio Media Inc,Bengaluru / Bangalore,"Automation Testing, Python Developer, Bigdata,..."
13,Harshitha H P,Senior Associate TA,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Infineon Technologies, Intel"
14,Rajani Nagaraj,HR Manager,SigTuple Technologies Pvt Ltd,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
15,Shiva Kumar N,Founder,Connecting The Dots,Bengaluru / Bangalore,"salaesforce, Web Technologies, .net, .net full..."
16,Ishaan,Talent Manager,Opendoors Fintech Private Limited,Bengaluru / Bangalore,"Data Analysis, Customer Service, Business Mana..."
17,abha,Company HR,Mwyn Tech Pvt Ltd,Bengaluru / Bangalore,Not Specified
18,Nithin Prasad,HR Executive,SRIT India PVt Ltd,Bengaluru / Bangalore,"Devops, Automation, HMI, Tech/Solution Archite..."
19,Srinivasan S Saripalli,Technology Director and Operations,Engage IT Manpower Solutions Pvt Ltd,Bengaluru / Bangalore,"Android Application Development, Artificial In..."
20,Leena Nothani,Associate Partner Analytics Hiring,AppsTec,Bengaluru / Bangalore,"Analytics, Machine Learning, Big Data Analytic..."
21,Supriya Patanjali,Talent Acquisition Specialist,BMS Innolabs,Bengaluru / Bangalore,Not Specified
22,Saravanaprakash Balakrishnan,Technical Recruiter,Sling Media Private Limited,Bengaluru / Bangalore,"Big Data, Application Development, User Interf..."
23,Suresh Chalikavada,Manager Talent Acquisition,Kwalee,Bengaluru / Bangalore,"HR, Benefits, Employee Development, Succession..."

In [34]:
data.to_csv()

',Name,Desg,company,location,skills\r\n0,Bitapi,HR and Operation Manager,Wipro,Bengaluru / Bangalore,"Hadoop, Big Data, Data Scientists, Java, Spring Boot, Oracle, SQL, MySQL, Object Oriented Programming, RDBMS, Data Modeling"\r\n1,HS Sandesh,Talent Evangelist www staffiohr co,Rinalytics Advisors,Bengaluru / Bangalore,"Digital Marketing, General Manager, Business Development, Product Manager, Big Data, Business Analyst, Frontend Developer, Human Resources, data"\r\n2,Datafoundry,Company HR,Redbus.in,Bengaluru / Bangalore,"Webmethods Developer, Mean Stack, Business Analysis, Data Scientist, Database Development, java, python, Algorithm Scientist, Machine Learning, artificial"\r\n3,Prashant K,Sr HR,Talent Management Labs Inc.,Bengaluru / Bangalore,"Data Analyst, Statistical Analysis, Data Scientist, Analytics Manager, Software Engineer"\r\n4,Best In Town Analytics,Analytics Associate,DeepIQ Software Solutions Pvt Ltd,Bengaluru / Bangalore,Data Analytics\r\n5,Nagajothi Edumdan,Lead Technical Recruiter,Terra Blue Exploration Technologies Pvt....,Bengaluru / Bangalore,"architect, Technical Lead, director, java, J2ee, Embedded Technologies, Qa Testing, dicom, ruby, python, c++, Product Engineer, Engineering Manager, oracle"\r\n6,rajesh,HR Executive,Quaero 3 India Ltd,Bengaluru / Bangalore,"Data Scientist, Tableau, R Tool, Data Analytics, Business Analytics"\r\n7,Gautam Malaiappan,Founder CEO,BlackBuck Insights,Bengaluru / Bangalore,"Sql, Sas, Sas Programming, Python, Tableau, Vba, Advanced Excel, Qlikview, Spotfire, Cognos, R, Statistical Modeling, Statistical Programming, Statistics"\r\n8,TerraBlue XT,HR manager,ABC Consultants Pvt Ltd,Bengaluru / Bangalore,"Java, SQL, Algorithms, Python, Data Mining, R, Hadoop, Photoshop, Corel Draw, Usability, UX, Animation, Javascript, Design, Html, Wordpress, Css, Indesign"\r\n9,kumar,Proprietor,Accenture,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data"\r\n10,John Paul,Company HR,Makonis Software Solutions Private Limited,Bengaluru / Bangalore,"analytics, Business Intelligence, Data Analytics, Data Science"\r\n11,Biju John,Recruitment Consultant,Gladwin Analytics,Bengaluru / Bangalore,"Software Architecture, Project Management, Software Development, Engineering, Ux, System Administration, Hardware, Firmware Development, Investment Banking"\r\n12,Anantha Padmanabhan,HR Executive,Adcuratio Media Inc,Bengaluru / Bangalore,"Automation Testing, Python Developer, Bigdata, Ui Development, Genesys, Linux Administration, Ios Development, Data Science, Hardware Design, Analog Design"\r\n13,Harshitha H P,Senior Associate TA,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Infineon Technologies, Intel"\r\n14,Rajani Nagaraj,HR Manager,SigTuple Technologies Pvt Ltd,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata"\r\n15,Shiva Kumar N,Founder,Connecting The Dots,Bengaluru / Bangalore,"salaesforce, Web Technologies, .net, .net full stack, java full stack, servicenow, Java, Automation Testing, Front End Developer, Backend Developer, Mobile"\r\n16,Ishaan,Talent Manager,Opendoors Fintech Private Limited,Bengaluru / Bangalore,"Data Analysis, Customer Service, Business Managers"\r\n17,abha,Company HR,Mwyn Tech Pvt Ltd,Bengaluru / Bangalore,Not Specified\r\n18,Nithin Prasad,HR Executive,SRIT India PVt Ltd,Bengaluru / Bangalore,"Devops, Automation, HMI, Tech/Solution Architect, Sales Associate, Inside Sales, Account Management, Bigdata, Testing, Inside Sales Executive, Inside"\r\n19,Srinivasan S Saripalli,Technology Director and Operations,Engage IT Manpower Solutions Pvt Ltd,Bengaluru / Bangalore,"Android Application Development, Artificial Intelligence, Data Analytics, Java, Spring Framework, C++, Docker, Machine Learning, Computer Vision, Python"\r\n20,Leena Nothani,Associate Partner Analytics Hiring,AppsTec,Bengaluru / Bangalore,"Analytics, Machine Learning, Big Data Analytics, Predictive Modeling, Advanced Analytics, Statistical Modeling"\r\n21,Supriya Patanjali,Talent Acquisition Specialist,BMS Innolabs,Bengaluru / Bangalore,Not Specified\r\n22,Saravanaprakash Balakrishnan,Technical Recruiter,Sling Media Private Limited,Bengaluru / Bangalore,"Big Data, Application Development, User Interface Designing, Ui Development, Database Development, Analytics"\r\n23,Suresh Chalikavada,Manager Talent Acquisition,Kwalee,Bengaluru / Bangalore,"HR, Benefits, Employee Development, Succession Planning, Policies, Design Development, Query Resolution"\r\n'

# Que--8

In [35]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [36]:
# Opening the homepage 
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [37]:
# creating empty list
book_name=[]
a_name=[]
vol_sold=[]
publ=[]
genre=[]

In [42]:
 # Extracting book name
for b in range(1,99):
    b_tags=driver.find_elements_by_xpath('//*[@id="table-cell-10943-%d-1"]'%(b))
    for i in b_tags:
        book_name.append(i.text)

In [45]:
book_name[0:3]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone"]

In [44]:
len(book_name)

99

In [46]:
 # Extracting authors
for b in range(0,99):
    a_tags=driver.find_elements_by_xpath('//*[@id="table-cell-10943-%d-2"]'%(b))
    for i in a_tags:
        a_name.append(i.text)

In [48]:
a_name[0:3]

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.']

In [49]:
len(a_name)

99

In [51]:
 # Extracting volume sold
for b in range(0,99):
    v_tags=driver.find_elements_by_xpath('//*[@id="table-cell-10943-%d-3"]'%(b))
    for i in v_tags:
        vol_sold.append(i.text)

In [52]:
vol_sold[0:3]

['5,094,805', '4,475,152', '4,200,654']

In [53]:
 # Extracting publication
for b in range(0,99):
    p_tags=driver.find_elements_by_xpath('//*[@id="table-cell-10943-%d-4"]'%(b))
    for i in p_tags:
        publ.append(i.text)

In [54]:
publ[0:3]

['Transworld', 'Bloomsbury', 'Bloomsbury']

In [55]:
 # Extracting genre
for b in range(0,99):
    g_tags=driver.find_elements_by_xpath('//*[@id="table-cell-10943-%d-5"]'%(b))
    for i in g_tags:
        genre.append(i.text)

In [56]:
genre[0:3]

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction"]

In [57]:
import pandas as pd
data=pd.DataFrame({})
data['Book_name']=book_name[0:25]
data['Author_name']=a_name[0:25]
data['Volume_sold']=vol_sold[0:25]
data['Publisher']=publ[0:25]
data['Genre']=genre[0:25]

In [58]:
data

,Book_name,Author_name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"
15,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
16,Deception Point,"Brown, Dan","2,062,145",Transworld,"Crime, Thriller & Adventure"
17,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
18,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,General & Literary Fiction
19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
20,Digital Fortress,"Brown, Dan","1,928,900",Transworld,"Crime, Thriller & Adventure"
21,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,"Crime, Thriller & Adventure"
23,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
24,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric","1,783,535",Penguin,Picture Books

In [59]:
data.to_csv()

',Book_name,Author_name,Volume_sold,Publisher,Genre\r\n0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"\r\n1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children\'s Fiction\r\n2,Harry Potter and the Philosopher\'s Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children\'s Fiction\r\n3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children\'s Fiction\r\n4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas\r\n5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children\'s Fiction\r\n6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children\'s Fiction\r\n7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children\'s Fiction\r\n8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"\r\n9,Harry Potter and the Half-blood Prince:Children\'s Edition,"Rowling, J.K.","2,950,264",Bloomsbury,Children\'s Fiction\r\n10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas\r\n11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction\r\n12,"Girl with the Dragon Tattoo,The:Millennium Trilogy","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"\r\n13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas\r\n14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"\r\n15,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction\r\n16,Deception Point,"Brown, Dan","2,062,145",Transworld,"Crime, Thriller & Adventure"\r\n17,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction\r\n18,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,General & Literary Fiction\r\n19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction\r\n20,Digital Fortress,"Brown, Dan","1,928,900",Transworld,"Crime, Thriller & Adventure"\r\n21,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science\r\n22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,"Crime, Thriller & Adventure"\r\n23,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction\r\n24,"Very Hungry Caterpillar,The:The Very Hungry Caterpillar","Carle, Eric","1,783,535",Penguin,Picture Books\r\n'

# Que--9

In [60]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [61]:
# Opening the homepage of Amazon.in
driver.get('https://www.imdb.com/list/ls095964455/')

In [62]:
# creating empty list
name=[]
year_span=[]
genre=[]
r_time=[]
rating=[]
votes=[]

In [64]:
 # Extracting name
for b in range(1,100):
    name_tags=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div[%d]/div[2]/h3/a'%(b))
    for i in name_tags:
        name.append(i.text)

In [65]:
name[0:2]

['Game of Thrones', 'Stranger Things']

In [66]:
len(name)

99

In [67]:
 # Extracting year span
for b in range(1,100):
    y_tags=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div[%d]/div[2]/h3/span[2]'%(b))
    for i in y_tags:
        year_span.append(i.text)

In [68]:
year_span[0:3]

['(2011–2019)', '(2016– )', '(2010– )']

In [69]:
 # Extracting genre
for b in range(1,100):
    g_tags=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div[%d]/div[2]/p[1]/span[5]'%(b))
    for i in g_tags:
        genre.append(i.text)

In [70]:
genre[0:3]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller']

In [71]:
for b in range(1,100):
    r_tags=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div[%d]/div[2]/p[1]/span[3]'%(b))
    for i in r_tags:
        r_time.append(i.text)

In [72]:
r_time[0:3]

['57 min', '51 min', '44 min']

In [73]:
 # Extracting  ratings
for b in range(1,100):
    rating_tags=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div[%d]/div[2]/div[1]/div[1]/span[2]'%(b))
    for i in rating_tags:
        rating.append(i.text)

In [74]:
rating[0:3]

['9.3', '8.7', '8.2']

In [75]:
 # Extracting votes
v_tags=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[2]')
for i in v_tags:
    votes.append(i.text)

In [88]:
votes[0:3]

['|', '1,768,387', '|']

In [89]:
v = votes[1::2] + votes[::2] 
v[0:4]

['1,768,387', '820,970', '852,781', '256,007']

In [95]:
V=v[0:100]

In [97]:
len(V)

100

In [101]:
import pandas as pd
data=pd.DataFrame({})
data['name']=name[0:100]
data['year_span']=year_span[0:100]
data['genre']=genre[0:100]
data['r_time']=r_time[0:100]
data['rating']=rating[0:100]
#data['votes']=V[0:100]

In [83]:
data

,name,year_span,genre,r_time,rating
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6
...,...,...,...,...,...
94,iZombie,(2015–2019),"Comedy, Crime, Drama",42 min,7.8
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2

In [87]:
data.to_csv

<bound method NDFrame.to_csv of                               name    year_span                     genre  \
0                  Game of Thrones  (2011–2019)  Action, Adventure, Drama
1                  Stranger Things     (2016– )    Drama, Fantasy, Horror
2                 The Walking Dead     (2010– )   Drama, Horror, Thriller
3                   13 Reasons Why  (2017–2020)  Drama, Mystery, Thriller
4                          The 100  (2014–2020)    Drama, Mystery, Sci-Fi
..                             ...          ...                       ...
94                         iZombie  (2015–2019)      Comedy, Crime, Drama
95                           Reign  (2013–2017)            Drama, Fantasy
96  A Series of Unfortunate Events  (2017–2019)  Adventure, Comedy, Drama
97                  Criminal Minds  (2005–2020)     Crime, Drama, Mystery
98           Scream: The TV Series  (2015–2019)      Crime, Drama, Horror

    r_time rating
0   57 min    9.3
1   51 min    8.7
2   44 min    8.2
3   60 min    7.6
4   43 min    7.6
..     ...    ...
94  42 min    7.8
95  42 min    7.5
96  50 min    7.8
97  42 min    8.1
98  45 min    7.2

[99 rows x 5 columns]>

# Que--10

In [2]:
#connecting to web driver
driver = webdriver.Chrome(r"E:\FRT\chromedriver.exe")

In [3]:
# Opening the homepage of uci
driver.get('https://archive.ics.uci.edu/')

In [105]:
button=driver.find_element_by_xpath('//span[@class="whitetext"]/a')
driver.get(button.get_attribute('href'))

In [106]:
button=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
driver.get(button.get_attribute('href'))

In [4]:
# creating empty list
d_name=[]
d_type=[]
task=[]
attr_type=[]
no_of_instance=[]
no_of_att=[]
year=[]

In [5]:
 # Extracting dataset name
for b in range(1,100):
    d_tags=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%d]/td[1]/table/tbody/tr/td[2]/p/b/a'%(b))
    for i in d_tags:
        d_name.append(i.text)

In [6]:
d_name[0:2]

['Abalone', 'Adult']

In [7]:
 # Extracting dataset type
or b in range(2,101):
    dt_tags=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%d]/td[2]/p'%(b))
    for i in dt_tags:
        d_type.append(i.text)

In [8]:
d_type[0:2]

['Multivariate ', 'Multivariate ']

In [9]:
 # Extracting task
for b in range(2,101):
    t_tags=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%d]/td[3]/p'%(b))
    for i in t_tags:
        task.append(i.text)

In [10]:
task[0:2]

['Classification ', 'Classification ']

In [11]:
 # Extracting attribute type
for b in range(2,101):
    a_tags=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%d]/td[4]/p'%(b))
    for i in a_tags:
        attr_type.append(i.text)

In [12]:
attr_type[0:2]

['Categorical, Integer, Real ', 'Categorical, Integer ']

In [13]:
 # Extracting no_of_instances
for b in range(2,101):
    n_tags=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%d]/td[5]/p'%(b))
    for i in n_tags:
        no_of_instance.append(i.text)

In [14]:
no_of_instance[0:2]

['4177 ', '48842 ']

In [15]:
 # Extracting no of attributes
for b in range(2,101):
    nt_tags=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%d]/td[6]/p'%(b))
    for i in nt_tags:
        no_of_att.append(i.text)

In [16]:
no_of_att[0:2]

['8 ', '14 ']

In [17]:
 # Extracting year
for b in range(2,101):
    y_tags=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%d]/td[7]/p'%(b))
    for i in y_tags:
        year.append(i.text)

In [18]:
year[0:2]

['1995 ', '1996 ']

In [24]:
import pandas as pd
data=pd.DataFrame({})
data['Data_set']=d_name[0:98]
data['Data_type']=d_type[0:98]
data['Task']=task[0:98]
data['Attribute_type']=attr_type[0:98]
data['No_of_instances']=no_of_instance[0:98]
data['No_of_attribute']=no_of_att[0:98]
data['Year']=year[0:98]

In [25]:
data

,Data_set,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
93,SPECTF Heart,Multivariate,Classification,Integer,267,44,2001
94,Sponge,Multivariate,Clustering,"Categorical, Integer",76,45,
95,Statlog Project,,,,,,1992
96,Student Loan Relational,Domain-Theory,,,1000,,1993
97,Teaching Assistant Evaluation,Multivariate,Classification,"Categorical, Integer",151,5,1997

In [26]:
data.to_csv

<bound method NDFrame.to_csv of                          Data_set       Data_type                  Task  \
0                         Abalone   Multivariate        Classification
1                           Adult   Multivariate        Classification
2                       Annealing   Multivariate        Classification
3    Anonymous Microsoft Web Data                  Recommender-Systems
4                      Arrhythmia   Multivariate        Classification
..                            ...             ...                   ...
93                   SPECTF Heart   Multivariate        Classification
94                         Sponge   Multivariate            Clustering
95                Statlog Project
96        Student Loan Relational  Domain-Theory
97  Teaching Assistant Evaluation   Multivariate        Classification

                 Attribute_type No_of_instances No_of_attribute   Year
0   Categorical, Integer, Real            4177               8   1995
1         Categorical, Integer           48842              14   1996
2   Categorical, Integer, Real             798              38
3                  Categorical           37711             294   1998
4   Categorical, Integer, Real             452             279   1998
..                          ...             ...             ...    ...
93                     Integer             267              44   2001
94        Categorical, Integer              76              45
95                                                               1992
96                                        1000                   1993
97        Categorical, Integer             151               5   1997

[98 rows x 7 columns]>